<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="nlogfile" xsi:type="File" fileName="file.txt" />

    <target xsi:type="RichTextBox"
          name="nlogform"
          layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}"
          autoScroll="True"
          maxLines="50"
          showMinimized="False"
          toolWindow="True"
          controlName="LogBox"
          formName="LogForm"
    >

      <!-- repeated word-colorings -->
      <word-coloring fontColor="Blue"
                     ignoreCase="False"
                     text="INFO"
                     wholeWords="False"/>
      <word-coloring fontColor="Green"
                     ignoreCase="False"
                     text="DEBUG"
                     wholeWords="False"/>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="nlogfile,nlogform" />
  </rules>
</nlog>