<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >
  <variable name="logDirectory" value="${tempdir}/VidLec/logs"/>
  <variable name="currentDate" value="${shortdate}"/>
  <variable name="logFileExtension" value=".log"/>
  <targets>
    <target xsi:type="File" name="file" fileName="${logDirectory}/${shortdate}${logFileExtension}"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    <target xsi:type="RichTextBox"
          name="box"
          layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}"
          autoScroll="True"
          maxLines="100"
          controlName="LogBox"
          formName="LogForm">
      <word-coloring fontColor="Blue" ignoreCase="False" style="bold" text="INFO"/>
      <word-coloring fontColor="Green" ignoreCase="False" style="bold" text="DEBUG"/>
      <word-coloring fontColor="DarkRed" ignoreCase="False" style="bold" text="ERROR"/>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="box" />
    <logger name="*" minlevel="Debug" writeTo="file" />
  </rules>
</nlog>